# editor temporary/working/backup files
.#*
/test
/out
problem_approach_template.txt
*.iml
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.kdev4
*.log
*.swp
*.pdb
.project
.pycharmproject
.settings
*.idea
\.idea\*
\*.idea
.dst

# byte-compiled/optimized/DLL files
__pycache__/
*.pyc
*.pyo


# distribution/packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# installer logs
pip-log.txt
pip-delete-this-directory.txt


# Unit-test/coverage-reports
/tests/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml


# sphinx's build documentation
docs/_build/

# exclude private settings from public repo
# however, for deployment to the heroku repo, use this by overriding with a forced add
dev_settings.py

# Mac Specific
.DS_Store